In [1]:
import ROOT
import root_pandas
import numpy as np
import pandas as pd
from root_pandas import read_root

In [2]:
# Only load in first 50,000 events
for df in read_root('/home/shawaf/NR/mc_files/Xenon1T_ib1sp500mm_AmBe_g4mc_G4_Sort_AllNRs.root', chunksize = 2000):
    df = df
    break

In [3]:
def better_row(df_row,i):
    """ Make a better row to analyze what is ms or ss from truth data, i is the index of the row """
    ed = []
    ed.append(max(df_row.Fax_ed))
    
    s_a = np.where(df_row.Fax_ed == ed[0])
    
    s_a_x = df_row.Fax_x[s_a]
    s_a_y = df_row.Fax_y[s_a]
    s_a_z = df_row.Fax_z[s_a]
    
    if len(df_row.Fax_ed) > 1:
        ed.append(sorted(df_row.Fax_ed)[- 2])
        s_b = np.where(df_row.Fax_ed == ed[1])
        s_b_x = df_row.Fax_x[s_b]
        s_b_y = df_row.Fax_y[s_b]
        s_b_z = df_row.Fax_z[s_b]
        
        s_dist = np.sqrt((s_a_x - s_b_x)**2 + (s_a_y - s_b_y)**2 + (s_a_z - s_b_z)**2)
        
    else:
        ed.append(float('nan'))
        s_dist = float('nan')


    idx = df_row.index
    
    eventid = df_row.eventid
    
    return pd.DataFrame({
        'eventid' : eventid,
        'ed_a' : ed[0],
        'ed_b' : ed[1],
        's_dist' : s_dist
    }, index = [i])

In [4]:
def better_df(df):
    col_needed = better_row(df.iloc[0], 0)
    ndf = pd.DataFrame(columns = list(col_needed))
    for i in range(len(df)):
        row = df.iloc[i]
        br = better_row(row, i)
        ndf = ndf.append(br)
    return ndf

In [5]:
def classify_df(df):
    """ 
    takes a "better_df" ready for classification
    and classifies the events as  SS or not-SS 

    ed_a is the largest energy deposition
    ed_b is second largest energy deposition

    s_dist is the distance between these scatters

    """
    # dummy
    df['class'] = 4
    
    ed_a_lower_lim = 5.
    ed_a_upper_lim = 100.

    ed_b_lower_lim = 5.

    s_dist_lim = 200.

    for index, event in df.iterrows():
        if (
            ed_a_lower_lim < event.ed_a and
             event.ed_a < ed_a_upper_lim and 
             ed_b_lower_lim < event.ed_b and 
             event.s_dist > s_dist_lim
            ):
            df['class'][index] = 1
        else:
            df['class'][index] = 2
    return df

In [6]:
ndf = better_df(df)

In [7]:
cdf = classify_df(ndf)

/home/shawaf/anaconda3/envs/pax/lib/python3.4/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shawaf/anaconda3/envs/pax/lib/python3.4/site-packages/ipykernel/__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
cdf

            ed_a        ed_b   eventid      s_dist  class
0       1.232559    0.638765    1859.0   29.346813      2
1      36.045139   14.442268    3004.0  153.078217      2
2      10.954453         NaN    5977.0         NaN      2
3      13.953996         NaN   10322.0         NaN      2
4      17.088446    9.562304   10998.0  248.286453      1
5       8.246125    6.936183   14134.0   51.866425      2
6      10.573624    3.709927   14448.0   76.075859      2
7      19.514322   18.112898   18141.0  219.816483      1
8       9.976287         NaN   18429.0         NaN      2
9      26.014961    4.479887   23953.0  223.952057      2
10     27.052567    5.603099   25028.0  104.740036      2
11      4.921646    4.662147   25589.0  548.149658      2
12     12.872155   11.032009   32295.0  312.352905      1
13      8.021855         NaN   34786.0         NaN      2
14      3.068926    2.120863   37267.0  127.183411      2
15    147.510742         NaN   39623.0         NaN      2
16      0.431704    0.304604   43829.0  166.654572      2
17      2.913808    1.666318   44216.0  281.943207      2
18      8.475665    6.624148   49409.0  117.067665      2
19     30.918896    9.870661   49559.0  104.557869      2
20     59.659573    7.142331   57825.0    3.369756      2
21      1.402946         NaN   58417.0         NaN      2
22      2.322254    1.546404   60347.0  524.305176      2
23     62.840530    7.414833   60978.0  117.846893      2
24     41.513115   34.099209   61158.0  791.382507      1
25      8.646188    6.321515   62736.0  114.856865      2
26     26.263912   25.315208   64336.0  240.537109      1
27     11.158330    5.630781   66010.0   12.985509      2
28     13.136962    7.200673   71597.0  260.603271      1
29      4.925821         NaN   72231.0         NaN      2
...          ...         ...       ...         ...    ...
1970   10.306886    3.970199  743807.0  448.405792      2
1971   18.979683         NaN  747171.0         NaN      2
1972    6.432442    3.883831  747623.0   31.666378      2
1973   23.573118         NaN  751657.0         NaN      2
1974    9.730458    4.641088  751946.0  144.761581      2
1975    2.949572    2.625172  752327.0  251.947311      2
1976    3.081616    0.759094  753008.0   62.135506      2
1977    3.916602    1.142043  754935.0  542.223755      2
1978    1.983458    0.424106  756173.0   89.840744      2
1979    0.042864         NaN  759357.0         NaN      2
1980  183.217926  156.544632  759773.0  110.954407      2
1981   13.719283    0.494447  762515.0   50.978088      2
1982    3.048661    2.281280  766839.0   23.955986      2
1983    4.976190    2.428611  768904.0  340.190399      2
1984    1.211778    1.136577  769274.0   18.827656      2
1985   12.603132    7.373832  770802.0  293.553864      1
1986   11.105827    1.087874  771889.0   70.708549      2
1987    8.315000    5.224764  774180.0  574.075073      1
1988    2.324136    2.091247  775088.0   38.880833      2
1989    0.024917         NaN  777510.0         NaN      2
1990    9.147329    4.455884  777862.0  443.113617      2
1991    0.504599         NaN  779160.0         NaN      2
1992    6.054684    2.631478  781345.0  414.860260      2
1993    2.244067         NaN  784199.0         NaN      2
1994    0.059263         NaN  785025.0         NaN      2
1995   13.255286    5.351702  785229.0  175.432236      2
1996    2.461408    2.409564  787772.0  168.982224      2
1997    0.995586    0.787684  790391.0   77.790810      2
1998    4.684237    4.461058  791016.0  173.599472      2
1999    2.486243         NaN  792515.0         NaN      2

[2000 rows x 5 columns]

In [ ]:
pd.read_pickle("/home/shawaf/data/mc_ambe_classify_test/mc_ambe_samp_2.pkl")

In [ ]:
import matplotlib.pyplot as plt

plt.hist(ndf.dropna().ed_b, bins = 20, normed = 1)
plt.show()

In [ ]:
plt.hist(ndf.dropna().s_dist, normed = 1, bins=40)
plt.show()

In [ ]:
# Load in sim data
import hax

# using modified version of Tianyu's OtherLargeS2s peak extractor
from make_minitree import Peaks

hax.init(experiment='XENON1T',
         use_runs_db=False,
         pax_version_policy='loose',
         main_data_paths=['/home/shawaf/data/mc_ambe_samp/'],
         minitree_paths = ['/home/shawaf/data/mc_ambe_samp/'])

In [ ]:
sim = hax.minitrees.load("mc_ambe_samp",[Peaks])

In [ ]:
sim['nFax'] = df.nFax
sim['ns'] = df.ns
sim = sim.dropna(subset=['s1','s2'])

In [ ]:
ms = []

for ns in sim.nFax:
    if ns > 1:
        ms.append(2)
    elif ns == 1:
        ms.append(1)
    else:
        ms.append(int('nan'))
        
sim['class'] = ms

In [ ]:
# Check everything is classified correctly
sim[(sim.nFax > 1) & (sim['class'] == 1)]

In [ ]:
# sim.to_pickle('full_chain_ambe_faxed')